name: release

on:
  workflow_call:
    inputs:
      copy_staging:
        required: false
        type: string
        description: An expression for a `cp` command to copy to the staging area after downloading all artifacts
    secrets:
      CARGO_REGISTRY_TOKEN:
        required: true
        description: A token for publishing to crates.io

jobs:

  init:
    runs-on: ubuntu-latest
    outputs:
      version: ${{steps.version.outputs.version}}
      prerelease: ${{steps.state.outputs.prerelease}}
    steps:
      - name: Evaluate state
        id: state
        env:
          HEAD_REF: ${{github.head_ref}}
        run: |
          test -z "${HEAD_REF}" && (echo 'do-publish=true' >> $GITHUB_OUTPUT)
          if [[ "${{ github.event.ref }}" =~ ^refs/tags/v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
              echo release=true >> $GITHUB_OUTPUT
          elif [[ "${{ github.event.ref }}" =~ ^refs/tags/v.*$ ]]; then
              echo prerelease=true >> $GITHUB_OUTPUT
          fi
      - name: Set version
        id: version
        run: |
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
          [[ "${{ github.ref }}" == "refs/tags/"* ]] && VERSION=$(echo $VERSION | sed -e 's/^v//')
          [ "$VERSION" == "main" ] && VERSION=latest
          echo "Version: $VERSION"
          echo "version=$VERSION" >> $GITHUB_OUTPUT

  # ensure that the version of the tag is the version of the crates
  ensure-version:
    runs-on: ubuntu-latest
    needs:
      - init
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup cargo-binstall
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          curl -L --proto '=https' --tlsv1.2 -sSf https://raw.githubusercontent.com/cargo-bins/cargo-binstall/main/install-from-binstall-release.sh | bash
      - name: Setup cargo-workspaces
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cargo binstall -y cargo-workspaces
      - name: Set version
        run: |
          cargo ws version custom ${{ needs.init.outputs.version }} --all --no-git-commit --force "*" --yes
      - name: Ensure this did not change anything
        run: |
          if ! git diff --exit-code; then
              echo "::error::Uncommitted changes after setting the version. This indicates that the version of the tag does not align with the version of the crates."
              exit 1
          fi

  release:
    needs:
      - init
      - ensure-version
    runs-on: ubuntu-24.04 # required by convco and GLIBC
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install convco
        run: |
          curl -sLO https://github.com/convco/convco/releases/download/v0.6.2/convco-ubuntu.zip
          unzip convco-ubuntu.zip
          chmod a+x convco
          sudo mv convco /usr/local/bin

      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          repository: "${{ github.repository_owner }}/.convco"
          path: .convco

      - run: |
          cp $GITHUB_WORKSPACE/.convco/.versionrc .

      - run: |
          ls

      - name: Generate changelog
        run: |
          convco changelog -s --max-majors=1 --max-minors=1 --max-patches=1 > RELEASE_LOG.md

      - name: Dump changelog
        run: |
          cat RELEASE_LOG.md

      - uses: actions/download-artifact@v4 # download all artifacts
        with:
          path: ~/download

      - name: Display downloaded content
        run: ls -R ~/download || true

      - name: Creating staging area
        run: |
          mkdir -p staging

      - name: Stage release
        if: inputs.copy_staging != ''
        run: |
          mkdir -p staging
          cp -pv ${{ inputs.copy_staging }} staging/

      - uses: actions/attest-build-provenance@v1
        if: inputs.copy_staging != ''
        with:
          subject-path: 'staging/*'

      - name: Display staging area
        run: ls -R staging

      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG: v${{ needs.init.outputs.version }}
        run: |
          OPTS=""
          if [[ "${{ needs.init.outputs.prerelease }}" == "true" ]]; then
            OPTS="${OPTS} -p"
          fi
          gh release create ${OPTS} --title "${{ needs.init.outputs.version }}" -F RELEASE_LOG.md ${TAG} $(find staging -type f)

  publish:
    needs:
      - release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - uses: Swatinem/rust-cache@v2
      - name: Install cargo release
        run: |
          cargo install cargo-release

      - name: Publish
        run: cargo release publish --workspace --no-verify --allow-branch HEAD --execute --no-confirm
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
